:root {
  --main-background-color: #C17D9A;
  --secondary-background-color: #F8C9CC;
  --primary-text-color: #2E1C2B;
  --secondary-text-color: #6A2555;
  --border-color: #6A2555;
}
body{
  background:var(--main-background-color);
  color:var(--primary-text-color);
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin:0;
  text-align:center;
}

a{
  text-decoration: none;
  border-bottom: 1px solid transparent;
}

img{
  width:auto;
  height:auto;
  display:block;
  margin:auto;
  border: 3px solid var(--border-color);
}
.squareimg{
  width: 250px !important;
  height:auto;
}
.fivebyfourimg{
  max-width:80%;
  height:auto;
}



@media all and (orientation: landscape){

  #home-main, #podium, .firstplace, .columns{
      display:flex;
  }

  .col1of2, .ranking{
      flex:1;
  }

  #content{
      width: 75%;
      margin: auto;
  }


  .firstplace{
      width:70%;
      margin:auto;
  }
  .ranking{
      margin:10px;
  }
}