.about {
    padding:5px;
    background: var(--secondary-background-color);
    border:1px solid var(--secondary-text-color);
    color:var(--primary-text-color);
}

.about-img{
    margin:20px;
    padding:0;
    text-align: center;
}

.about-p{
    font-size: 18px;
}

.iframe{
    padding:5px;
    background: var(--secondary-background-color);
    border:1px solid var(--secondary-text-color);
    color:var(--primary-text-color);
}

iframe{
    margin:5px;
    border: 3px solid var(--border-color);
}
@media all and (orientation: landscape) {
    .about{
        display: flex;
    }
    .about, .iframe{
        margin:60px;
    }
  
    .about{
        text-align: left;
    }
  
    .about:nth-child(even){
        text-align: right;
    }
  
    .about:nth-child(even) h3{
        padding-right:10px;
    }
  
    .about:nth-child(even) p{
        padding-right:10px;
    }
  
    .about-img{
        height:auto;
    }
  
    .about-img:nth-child(even){
        padding-right: 20px;
    }
}