.collection{
    background:var(--secondary-background-color);
    padding:5px;
    
}
.collection a{
    color: var(--primary-text-color);
}
.collection-nav a{
    color: var(--secondary-text-color);
}
.collectionimg{
    max-width: 100%;
    height:auto;
}