
#dialog-section {
  position: relative;
}

#add-dialog, #edit-dialog, #delete-dialog{
  display: block;
}

#delete-content {
  margin-bottom: 10px;
}

#img-prev {
  max-width: 100%;
}

#delete-dialog button {
  margin-right: 10px;
}

@media all and (orientation: landscape) {
  #img-prev-section {
    flex: 1;
  }

  #img-upload {
    flex: 6;
  }
}