.collection img {
    width:250px;
    height:auto;
    margin: 0;
    padding:0;
}
.collection{
        text-align: center;
        background:var(--secondary-background-color);
        margin:10px;
        padding:0;
        color: var(--primary-text-color);
}
.collection a{
    text-align: center;
    background:var(--secondary-background-color);
    margin:10px;
    padding:0;
    color: var(--primary-text-color);
}

.trinketformat img{
    max-width: 80%;
    height:auto;
}
.trinketformat a{
    color: var(--primary-text-color);
}
.trinketformat{
    background: var(--secondary-background-color);
    text-align: center;
}
.trinketformat p{
    width:80%;
    margin:auto;
    text-align:left;
    padding:5px;
}
.trinketformat h1{
    padding: 10px 5px 5px 5px;
}
.trinketformat{
    background: var(--secondary-background-color);
    text-align: center;
}
.trinketformat p{
    width:80%;
    margin:auto;
    text-align:left;
    padding:5px;
}

#add-trinket, #edit-trinket, #delete-trinket{
    font-size: 16px;
    color: var(--secondary-text-color);
    background: var(--secondary-background-color);
    border-radius: 3px;
    border: 1px solid var(--border-color);
}

@media all and (orientation: landscape){
    .collection a{
        text-align: left;
        display:flex;
        margin-bottom: 10px;
        border-bottom:1px solid var(--secondary-background-color);
    }
    .collection :nth-child(odd){
        margin-left:0px;
    }
    .collection :nth-child(even){
        text-align: left;
        margin-left:10px !important;
        border-bottom:1px solid var(--secondary-background-color);
    }
}